<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Develo_Googletrustedstores extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Develo
 * @package        Develo_Googletrustedstores
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Develo_Googletrustedstores>
            <version>1.0.0</version>
        </Develo_Googletrustedstores>
    </modules>

    <adminhtml>
        <translate>
            <modules>
                <Develo_Googletrustedstores>
                    <files>
                        <default>Develo_Googletrustedstores.csv</default>
                    </files>
                </Develo_Googletrustedstores>
            </modules>
        </translate>
    </adminhtml>

    <global>
        <blocks>
            <develo_googletrustedstores>
                <class>Develo_Googletrustedstores_Block</class>
            </develo_googletrustedstores>
        </blocks>
        <helpers>
            <develo_googletrustedstores>
                <class>Develo_Googletrustedstores_Helper</class>
            </develo_googletrustedstores>
        </helpers>
        <models>
            <develo_googletrustedstores>
                <class>Develo_Googletrustedstores_Model</class>
            </develo_googletrustedstores>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <develo_googletrustedstores>
                    <file>develo_googletrustedstores.xml</file>
                </develo_googletrustedstores>
            </updates>
        </layout>
    </frontend>

    <default>
        <develo_googletrustedstores>
            <merchant_data>
                <order_number_option>entity_id</order_number_option>
                <badge_position>BOTTOM_RIGHT</badge_position>
            </merchant_data>
        </develo_googletrustedstores>
    </default>
</config>
