<?xml version="1.0"?>
<!--
/**
 * Develo_Googletrustedstores extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Develo
 * @package        Develo_Googletrustedstores
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Develo_Googletrustedstores>
            <version>1.0.0</version>
        </Develo_Googletrustedstores>
    </modules>
    <global>
        <blocks>
            <develo_googletrustedstores>
                <class>Develo_Googletrustedstores_Block</class>
            </develo_googletrustedstores>
        </blocks>
        <helpers>
            <develo_googletrustedstores>
                <class>Develo_Googletrustedstores_Helper</class>
            </develo_googletrustedstores>
        </helpers>
        <models>
            <develo_googletrustedstores>
                <class>Develo_Googletrustedstores_Model</class>
                <resourceModel>develo_googletrustedstores_resource</resourceModel>
            </develo_googletrustedstores>
            <develo_googletrustedstores_resource>
                <class>Develo_Googletrustedstores_Model_Resource</class>
                <entities>
                    <googlemerchantdata>
                        <table>develo_googletrustedstores_googlemerchantdata</table>
                    </googlemerchantdata>
                    <googlemerchantdata_store>
                        <table>develo_googletrustedstores_googlemerchantdata_store</table>
                    </googlemerchantdata_store>
                </entities>
            </develo_googletrustedstores_resource>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <develo_googletrustedstores>
                    <file>develo_googletrustedstores.xml</file>
                </develo_googletrustedstores>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <develo_googletrustedstores>
                                            <title>Google Trusted Stores</title>
                                        </develo_googletrustedstores>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <develo_googletrustedstores>
                    <file>develo_googletrustedstores.xml</file>
                </develo_googletrustedstores>
            </updates>
        </layout>
        <translate>
            <modules>
                <Develo_Googletrustedstores>
                    <files>
                        <default>Develo_Googletrustedstores.csv</default>
                    </files>
                </Develo_Googletrustedstores>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Develo_Googletrustedstores before="Mage_Adminhtml">Develo_Googletrustedstores_Adminhtml</Develo_Googletrustedstores>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <develo_googletrustedstores>
            <merchant_data>
                <order_number_option>entity_id</order_number_option>
            </merchant_data>
        </develo_googletrustedstores>
    </default>
</config>
